# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment variables
.env

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python virtual environments
venv/
ENV/
.venv/



# Logs
*.log

# Static and temp images
static/edited_images/
temp_images/

# Ignore local config
*.local

# Ignore docker-compose override
*docker-compose.override.yml
